@page "/"
@inject ApiClient apiClient
@using Shop.Common
@using Shop.Entities

<div class="products">
    @foreach (var product in Products)
    {
      <ProductComponent Product="product">

      </ProductComponent>  
    }
</div>
@code   
{
    public List<Product> Products { get; set; } = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        Products = await apiClient.GetAllProducts();
     
    }
}
