@using Shop.Entities
<div class="product">
   <img class="product-image" src="@Product.ImageSource" />
   <p class="product-name">@Product.Name</p>
   <div class="product-bottom">
    <span class="product-price">@Product.Price €</span>
    <button class="add-btn">+</button>
   </div>
</div>

@code {
    [Parameter]
    public Product Product{ get; set; }
    
}
