@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="background">
    @Body
</div>
<style>
    .background {
        background: #1a0505;
        min-height: 100%;
        overflow: hidden !important
    }
</style>